<div class="col-md-12 text-center">
  <div class="sign-box">
    <header class="sign-title">Boost form</header>

    <%= form_for @boost do |f| %>

        <div class="field form-group">
          <%= f.label :paypal_transaction_reference, class: 'float-left' %>
          <%= f.text_field :paypal_transaction_reference, required: true, class: 'form-control', autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :email, class: 'float-left' %>
          <%= f.email_field :email, class: 'form-control', required: true, autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :account_name, class: 'float-left' %>
          <%= f.text_field :account_name, class: 'form-control', required: true,  autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :account_password, class: 'float-left' %>
          <%= f.password_field :account_password, class: 'form-control',required: true, autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :account_password_confirmation, class: 'float-left' %>
          <%= f.password_field :account_password_confirmation, class: 'form-control', required: true,  autocomplete: "off" %>
        </div>

        <div class="field form-group">
          <%= f.label :message, class: 'float-left' %>
          <%= f.text_area :message, as: :text, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="hidden">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, hint: 'leave this field blank' %>
        </div>


        <%= f.submit 'Send', class: 'btn btn-rounded' %>
    <% end %>
  </div>
</div>
