
<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu side-menu-compact">
  <ul class="side-menu-list">
    <li class="gold">
      <%= link_to elo_boost_path do %>
          <i class="fa fa-bullseye"></i>
          <span class="lbl">Elo boost</span>
      <% end %>
    </li>

    <li class="red">
      <%= link_to profiles_path do %>
        <i class="fa fa-male"></i>
        <span class="lbl">Boosters</span>
      <% end %>
    </li>

    <li class="red">
      <%= link_to lol_path do %>
          <i class="fa fa-gg"></i>
          <span class="lbl">LoL</span>
      <% end %>
    </li>


    <li class="pink-red">

      <%= link_to faqs_path do %>
        <i class="font-icon font-icon-question"></i>
        <span class="lbl">FAQ</span>
      <% end %>
    </li>

    <li class="pink-red">
      <%= link_to contacts_path do %>
        <i class="font-icon font-icon-mail"></i>
        <span class="lbl">Contact</span>
      <% end %>
    </li>
</nav><!--.side-menu-->