<%= provide(:title, 'Elo boost') %>
<div class="row">
  <div class="container">
    <div class="col-md-7">
      <section class="card box-typical">
        <div class="card-block">
          <h5 class="with-border">Elo Boost</h5>
            <div class="col-md-12 center-block">
             <div class="row">
              <section class="tabs-section" width="100%">
                <div class="tabs-section-nav">
                  <div class="tbl">
                    <ul class="nav" role="tablist" id="payment_tabs">
                      <li class="nav-item">
                        <a class="nav-link active" href="#tabs-2-tab-1" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										Division boost
									</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#tabs-2-tab-2" role="tab" data-toggle="tab">
									<span class="nav-link-in">
										Win boost
									</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div><!--.tabs-section-nav-->

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="tabs-2-tab-1">
                    <h5 class="with-border m-t-0">Division boost</h5>
                    <div class="col-md-5">
                      <div class="row">
                        <div class="form-group float-left">
                          <label class="label label-success center-block">Choose your current division</label>
                          <%= image_tag('/img/bronze_v.png', width: '100%', id: 'div_image_change', alt: 'League of Legends ELO rank boosting') %>
                          <select class="select2" id="current_division_div" onchange="divCalculate(document.getElementById('desired_division_div').value); document.getElementById('div_image_change').src = divUrlMap[this.value];">
                           <option value="0">Choose division</option>
                            <optgroup label="Bronze division">
                              <option value="0">Bronze V</option>
                              <option value="10">Bronze IV</option>
                              <option value="25">Bronze III</option>
                              <option value="40.2" >Bronze II</option>
                              <option value="55.4">Bronze I</option>
                            </optgroup>
                            <optgroup label="Silver division">
                              <option value="70.6">Silver V</option>
                              <option value="90.55">Silver IV</option>
                              <option value="111.45">Silver III</option>
                              <option value="132.35">Silver II</option>
                              <option value="153.25">Silver I</option>
                            </optgroup>
                            <optgroup label="Gold division">
                              <option value="177.95">Gold V</option>
                              <option value="203.6">Gold IV</option>
                              <option value="230.2">Gold III</option>
                              <option value="257.75">Gold II</option>
                              <option value="287.2">Gold I</option>
                            </optgroup>
                            <optgroup label="Platinum division">
                              <option value="322.35">Platinum V</option>
                              <option value="360.35">Platinum IV</option>
                              <option value="403.1">Platinum III</option>
                              <option value="462.95">Platinum II</option>
                              <option value="522.8" >Platinum I</option>
                            </optgroup>
                            <optgroup label="Diamond division">
                              <option value="598.8">Diamond V</option>
                              <option value="693.8">Diamond IV</option>
                              <option value="807.8">Diamond III</option>
                              <option value="940.8">Diamond II</option>
                              <option value="1130.8">Diamond I</option>
                            </optgroup>
                            <optgroup label="Master division">
                              <option value="1630.8">Master</option>
                            </optgroup>
                            <optgroup label="Challenger division">
                              <option value="4999">Challenger</option>
                            </optgroup>
                          </select>
                        </div> <!-- end form group -->
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group">
                        <div class="col-md-5 float-right">
                          <div class="row">
                            <label class="label label-success center-block">Choose your desired division</label>
                            <%= image_tag('/img/challenger.png', width: '95%', id: 'div_image_change_2', alt: 'League of Legends ELO division boosting') %>
                            <select class="select2 center-block" id="desired_division_div" onchange="divCalculate(this.value); document.getElementById('div_image_change_2').src = divUrlMap[this.value];" autofocus>
                             <option value="0">Choose division</option>
                              <optgroup label="Challenger division">
                                <option value="4999">Challenger</option>
                              </optgroup>
                              <optgroup label="Master division">
                                <option value="1630.8">Master</option>
                              </optgroup>
                              <optgroup label="Diamond division">
                                <option value="1130.8">Diamond I</option>
                                <option value="940.8">Diamond II</option>
                                <option value="807.8">Diamond III</option>
                                <option value="693.8">Diamond IV</option>
                                <option value="598.8">Diamond V</option>
                              </optgroup>
                              <optgroup label="Platinum division">
                                <option value="522.8">Platinum I</option>
                                <option value="462.95">Platinum II</option>
                                <option value="403.1">Platinum III</option>
                                <option value="360.35">Platinum IV</option>
                                <option value="322.35">Platinum V</option>
                              </optgroup>
                              <optgroup label="Gold division">
                                <option value="287.2">Gold I</option>
                                <option value="257.75">Gold II</option>
                                <option value="230.2">Gold III</option>
                                <option value="203.6">Gold IV</option>
                                <option value="177.95">Gold V</option>
                              </optgroup>
                              <optgroup label="Silver division">
                                <option value="153.25">Silver I</option>
                                <option value="132.35">Silver II</option>
                                <option value="111.45">Silver III</option>
                                <option value="90.55">Silver IV</option>
                                <option value="70.6">Silver V</option>
                              </optgroup>
                              <optgroup label="Bronze division">
                                <option value="55.4">Bronze I</option>
                                <option value="40.2">Bronze II</option>
                                <option value="25">Bronze III</option>
                                <option value="10">Bronze IV</option>
                                <option value="0">Bronze V</option>
                              </optgroup>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!--.tab-pane-->

                  <div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-2">
                    <h5 class="with-border">Win boost</h5>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label label-success center-block">Choose your current division</label>
                          <%= image_tag('/img/bronze_v.png', width: '76.5%', id: 'win_image_change', class: 'win_image_change center-block', alt: 'League of Legends ELO win boosting') %>
                          <select class="select2" id="current_division_win" onchange="winCalculate(document.getElementById('demo3').value); document.getElementById('win_image_change').src = winUrlMap[this.value];" >
                           <option value="0">Choose division</option>
                            <optgroup label="Bronze division">
                              <option value="4.1" >Bronze V</option>
                              <option value="4">Bronze IV</option>
                              <option value="3.9">Bronze III</option>
                              <option value="3.8">Bronze II</option>
                              <option value="3.75">Bronze I</option>
                            </optgroup>
                            <optgroup label="Silver division">
                              <option value="3.7">Silver V</option>
                              <option value="3.65">Silver IV</option>
                              <option value="3.6">Silver III</option>
                              <option value="3.5">Silver II</option>
                              <option value="3.45">Silver I</option>
                            </optgroup>
                            <optgroup label="Gold division">
                              <option value="3.4">Gold V</option>
                              <option value="3.3">Gold IV</option>
                              <option value="3.1">Gold III</option>
                              <option value="2.9">Gold II</option>
                              <option value="2.7">Gold I</option>
                            </optgroup>
                            <optgroup label="Platinum division">
                              <option value="2.5">Platinum V</option>
                              <option value="2.3">Platinum IV</option>
                              <option value="2.1">Platinum III</option>
                              <option value="1.9">Platinum II</option>
                              <option value="1.7">Platinum I</option>
                            </optgroup>
                            <optgroup label="Diamond division">
                              <option value="1.6">Diamond V</option>
                              <option value="1.5">Diamond IV</option>
                              <option value="1.3">Diamond III</option>
                              <option value="1.1">Diamond II</option>
                              <option value="0.9">Diamond I</option>
                            </optgroup>
                            <optgroup label="Master division">
                              <option value="0.7">Master</option>
                            </optgroup>
                            <optgroup label="Challenger division">
                              <option value="0.5">Challenger</option>
                            </optgroup>
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="label label-success center-block"> How many wins do you want?</label><br/><br/>
                          <div class="col-md-8 text-center"><br/><br/>
                            <h1 id="amount_of_wins" > 0 </h1><br/><br/>
                          </div>
                          <div class="col-md-12">
                            <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                                   id="demo3" value="1" min="1" max="9" maxlength="1" step="1" name="demo3" oninput="winCalculate(this.value)" onchange="winCalculate(this.value)">
                          </div>
                        </div>
                      </div>
                    </div>   <!-- end row -->
                  </div><!--.tab-pane-->
        <!--  ############## BUDGET BOOST ###############
                  <div role="tabpanel" class="tab-pane fade" id="tabs-2-tab-3">
                    <div class="container">
                      <div class="col-md-12">
                        <section class="card box-typical">
                          <div class="card-block">
                            <h5 class="with-border">Budget boost</h5>
                            <div class="col-md-12 center-block">
                              <div class="row">
                                <div class="form-group text-center">
                                  <label class="label label-success">Choose your budget</label><br/><br/>
                                  <div class="input-group-addon">€</div>
                                  <input type="number" min="10" maxlength="7" step="10"
                                         class="form-control" id="input-budget" placeholder="Amount" onkeyup="this.value=this.value.replace(/[^\d]/,'')"
                                         onchange="budCalculate(this.value)">
                                  <div class="input-group-addon">.00</div>
                                </div> <!-- end form group
                              </div>
                            </div>
                            <div class="row">
                              <div class="row"></div>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div><!--.tab-pane-->
                </div><!--.tab-content-->
              </section><!--.tabs-section-->
             </div>
           </div>
          <div class="row">
            <div class="row"></div>
          </div>
        </div>
      </section
    </div>
  </div>

  <%= render 'shared/payments' %>

</div>

                            <!-- ######## DIVISION BOOST INFO ######## -->

<div class="division-boost-info">
 <section class="widget">
  <header class="widget-header-dark"> DIVISION ELO BOOST </header>
  <div class="tab-content widget-tabs-content">
    <div class="tab-pane active" id="w-1-tab-1" role="tabpanel">
      <div>
        <center>
        <ul>
          <li class="list-group-item"><b>1.</b> You choose your current division and the division you want to achieve with the Division Elo Boost</li>
          <li class="list-group-item"><b>2.</b> If you agree with your elo boost order, you can click on ‘confirm & pay’. You will be redirected to PayPal to complete the payment.</li>
          <li class="list-group-item"><b>3.</b> You will be redirected to a confirmation page.</li>
          <li class="list-group-item"><b>4.</b> A booster will be assigned to your account and the boost will start.</li>
        </ul>
        <br/>

        <p><em> Note that you can only apply for division elo boost if you get at least 12 league points per game.
          If you get less than 12 points per game, your division elo boost will be converted to ‘win elo boost’.
        </em></p>
        </center>
      </div>
    </div>
    <div class="tab-pane" id="w-1-tab-2" role="tabpanel">
      <center>Division elo boost is a LOL boosting method. There are several alternatives on LOL elo boosting. One of these alternatives is division Elo boosting.
        This LOL boosting method allows summoner’s to be boosted to the divison they want.</center>
    </div>
    <div class="tab-pane" id="w-1-tab-3" role="tabpanel">
      <center><b>Choosing for LOL divison elo boost has several benefits:</b>
        <ul><br/>
        <li class="list-group-item list-group-item-success">• Division elo boost guarantees that you will get to the division you want.</li>
        <li class="list-group-item list-group-item-success">• Division elo boost gives the best price per division and is thus the most cost-efficient lol elo boosting method.</li>
        <li class="list-group-item list-group-item-success">• Fastest elo boost method as divisions can be skipped due to good results</li>
        </ul><br/>
      </center>
    </div>
    <div class="tab-pane" id="w-1-tab-4" role="tabpanel">
      <center>
        <div class="col-md-6">
          <ul>
            <li title="DIVISON ELO BOOST IN LOL NA SERVER" class="list-group-item active">NA</li>
            <li title="DIVISON ELO BOOST IN LOL EUW SERVER" class="list-group-item active">EUW</li>
            <li title="DIVISON ELO BOOST IN LOL EUNE SERVER" class="list-group-item active">EUNE</li>
            <li title="DIVISON ELO BOOST IN LOL LAN SERVER" class="list-group-item active">LAN</li>
            <li title="DIVISON ELO BOOST IN LOL LAS SERVER" class="list-group-item disabled">LAS</li>
            <li title="DIVISON ELO BOOST IN LOL BR SERVER" class="list-group-item disabled">BR</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li title="DIVISON ELO BOOST IN LOL TR SERVER" class="list-group-item disabled">TR</li>
            <li title="DIVISON ELO BOOST IN LOL RU SERVER" class="list-group-item disabled">RU</li>
            <li title="DIVISON ELO BOOST IN LOL OCE SERVER" class="list-group-item disabled">OCE</li>
            <li title="DIVISON ELO BOOST IN LOL CN SERVER" class="list-group-item disabled">CN</li>
            <li title="DIVISON ELO BOOST IN LOL JP SERVER" class="list-group-item disabled">JP</li>
            <li title="DIVISON ELO BOOST IN LOL KR SERVER" class="list-group-item disabled">KR</li><br/>
          </ul>
        </div>
      </center>
    </div>
  </div>
  <div class="widget-tabs-nav colored">
    <ul class="tbl-row" role="tablist">
      <li class="nav-item">
        <a class="nav-link green active" data-toggle="tab" href="#w-1-tab-1" role="tab">
          <i class="font-icon font-icon-chart-3"></i>
          How does Division Elo Boost work?
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue" data-toggle="tab" href="#w-1-tab-2" role="tab">
          <i class="font-icon font-icon-notebook-lines"></i>
          What is Division Elo Boost?
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link orange" data-toggle="tab" href="#w-1-tab-3" role="tab">
          <i class="font-icon font-icon-pin"></i>
          Benefits of Division Elo Boost
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link red" data-toggle="tab" href="#w-1-tab-4" role="tab">
          <i class="font-icon font-icon-pin"></i>
          Division ELO boost servers
        </a>
      </li>
    </ul>
  </div>
 </section><!--.widget-->
</div>

                            <!--- ############# WIN BOOST INFO ############# -->

<div class="win-boost-info">
 <section class="widget">
  <header class="widget-header-dark"> WIN ELO BOOST </header>
  <div class="tab-content widget-tabs-content">
    <div class="tab-pane active" id="w-2-tab-1" role="tabpanel">
      <div>
        <center>
          <ul>
            <li class="list-group-item"><b>1.</b> You choose your current division to apply for the win elo boost.</li>
            <li class="list-group-item"><b>2.</b> You select the amount of net Wins you want to be boosted.</li>
            <li class="list-group-item"><b>3.</b> If you agree with your elo boost order, you can click on ‘confirm & pay’. You will be redirected to PayPal to complete the payment. </li>
            <li class="list-group-item"><b>4.</b> You will be redirected to a confirmation page.</li>
            <li class="list-group-item"><b>5.</b> A booster will be assigned to your account and the boost will start. </li>
          </ul>
          <br/>

          <p><em> Win Elo Boost works with net Wins. This means that whenever our professional booster loses a game, you will receive 1 extra win.
            For example: When the booster loses 2 games, you will get 12 wins in total to compensate for the losses.
            In the end you will receive exactly the amount of net wins you have ordered.
          </em></p>
        </center>
      </div>
    </div>
    <div class="tab-pane" id="w-2-tab-2" role="tabpanel">
      <center>
        Win elo boost is a LOL boosting method. There are several alternatives for LOL elo boosting.
        One of these alternatives is per win elo boost. This LOL boosting method allows summoner’s to get an exact amount of wins.
        When you apply for win elo boost, you will get NET WINS. So you will be compensated for every loss.
      </center>
    </div>
    <div class="tab-pane" id="w-2-tab-3" role="tabpanel">
      <center><b>
        Choosing for LOL win elo boost has several benefits:</b>
        <ul><br/>
          <li class="list-group-item list-group-item-success">• Win elo boost gives you Net wins.
                Meaning that you get compensated for every game loss by the booster.</li>
          <li class="list-group-item list-group-item-success">• Win elo boost is the best and most cost-efficient method for winning a small amount of games.
                For example when you need to win your promo series.</li>
          <li class="list-group-item list-group-item-success">• Because of the compensation, win elo boost gives the best Win/lose ratio.</li>
          <li class="list-group-item list-group-item-success">• Skipping a division does not affect your win elo boost order. We will continue to win the amount you have ordered.</li>
        </ul><br/>
      </center>
    </div>
    <div class="tab-pane" id="w-2-tab-4" role="tabpanel">
      <center>
          <div class="col-md-6">
            <ul>
              <li title="WIN ELO BOOST IN LOL NA SERVER" class="list-group-item active">NA</li>
              <li title="WIN ELO BOOST IN LOL EUW SERVER" class="list-group-item active">EUW</li>
              <li title="WIN ELO BOOST IN LOL EUNE SERVER" class="list-group-item active">EUNE</li>
              <li title="WIN ELO BOOST IN LOL LAN SERVER" class="list-group-item active">LAN</li>
              <li title="WIN ELO BOOST IN LOL LAS SERVER" class="list-group-item disabled">LAS</li>
              <li title="WIN ELO BOOST IN LOL BR SERVER" class="list-group-item disabled">BR</li>
              </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li title="WIN ELO BOOST IN LOL TR SERVER" class="list-group-item disabled">TR</li>
              <li title="WIN ELO BOOST IN LOL RU SERVER" class="list-group-item disabled">RU</li>
              <li title="WIN ELO BOOST IN LOL OCE SERVER" class="list-group-item disabled">OCE</li>
              <li title="WIN ELO BOOST IN LOL CN SERVER" class="list-group-item disabled">CN</li>
              <li title="WIN ELO BOOST IN LOL JP SERVER" class="list-group-item disabled">JP</li>
              <li title="WIN ELO BOOST IN LOL KR SERVER" class="list-group-item disabled">KR</li><br/>
            </ul>
          </div>
      </center>
    </div><br/>
  </div>
  <div class="widget-tabs-nav colored">
    <ul class="tbl-row" role="tablist">
      <li class="nav-item">
        <a class="nav-link green active" data-toggle="tab" href="#w-2-tab-1" role="tab">
          <i class="font-icon font-icon-chart-3"></i>
          How does Win Elo Boost work?
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link blue" data-toggle="tab" href="#w-2-tab-2" role="tab">
          <i class="font-icon font-icon-notebook-lines"></i>
          What is Win Elo Boost?
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link orange" data-toggle="tab" href="#w-2-tab-3" role="tab">
          <i class="font-icon font-icon-pin"></i>
          Benefits of Win Elo Boost
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link red" data-toggle="tab" href="#w-2-tab-4" role="tab">
          <i class="font-icon font-icon-pin"></i>
          Win ELO boost servers
        </a>
      </li>
    </ul>
  </div>
 </section><!--.widget-->
</div>


<script>
  var divUrlMap = {
    "0"         : "/img/bronze_v.png",
    "10"        : "/img/bronze_iv.png",
    "25"        : "/img/bronze_iii.png",
    "40.2"      : "/img/bronze_ii.png",
    "55.4"      : "/img/bronze_i.png",
    "70.6"      : "/img/silver_v.png",
    "90.55"     : "/img/silver_iv.png",
    "111.45"    : "/img/silver_iii.png",
    "132.35"    : "/img/silver_ii.png",
    "153.25"    : "/img/silver_i.png",
    "177.95"    : "/img/gold_v.png",
    "203.6"     : "/img/gold_iv.png",
    "230.2"     : "/img/gold_iii.png",
    "257.75"    : "/img/gold_ii.png",
    "287.2"     : "/img/gold_i.png",
    "322.35"    : "/img/platinum_v.png",
    "360.35"    : "/img/platinum_iv.png",
    "403.1"     : "/img/platinum_iii.png",
    "462.95"    : "/img/platinum_ii.png",
    "522.8"     : "/img/platinum_i.png",
    "598.8"     : "/img/diamond_v.png",
    "693.8"     : "/img/diamond_iv.png",
    "807.8"     : "/img/diamond_iii.png",
    "940.8"     : "/img/diamond_ii.png",
    "1130.8"    : "/img/diamond_i.png",
    "1630.8"    : "/img/master.png",
    "4999"      : "/img/challenger.png"
  };
</script>
<script>
    var winUrlMap = {
      "4.1"    : "/img/bronze_v.png",
      "4"      : "/img/bronze_iv.png",
      "3.9"    : "/img/bronze_iii.png",
      "3.8"    : "/img/bronze_ii.png",
      "3.75"   : "/img/bronze_i.png",
      "3.7"    : "/img/silver_v.png",
      "3.65"   : "/img/silver_iv.png",
      "3.6"    : "/img/silver_iii.png",
      "3.5"    : "/img/silver_ii.png",
      "3.45"   : "/img/silver_i.png",
      "3.4"    : "/img/gold_v.png",
      "3.3"    : "/img/gold_iv.png",
      "3.1"    : "/img/gold_iii.png",
      "2.9"    : "/img/gold_ii.png",
      "2.7"    : "/img/gold_i.png",
      "2.5"    : "/img/platinum_v.png",
      "2.3"    : "/img/platinum_iv.png",
      "2.1"    : "/img/platinum_iii.png",
      "1.9"    : "/img/platinum_ii.png",
      "1.7"    : "/img/platinum_i.png",
      "1.6"    : "/img/diamond_v.png",
      "1.5"    : "/img/diamond_iv.png",
      "1.3"    : "/img/diamond_iii.png",
      "1.1"    : "/img/diamond_ii.png",
      "0.9"    : "/img/diamond_i.png",
      "0.7"    : "/img/master.png",
      "0.5"    : "/img/challenger.png"
    };
</script>
<script>
  function preload(arrayOfImages) {
    $(arrayOfImages).each(function(){
      $('<img/>')[0].src = this;
      // Alternatively you could use:
      // (new Image()).src = this;
    });
  }

  // Usage:

  preload([
    'img/bronze_v.png',
    'img/bronze_iv.png',
    'img/bronze_iii.png',
    'img/bronze_ii.png',
    'img/bronze_i.png',
    'img/silver_v.png',
    'img/silver_iv.png',
    'img/silver_iii.png',
    'img/silver_ii.png',
    'img/silver_i.png',
    'img/gold_v.png',
    'img/gold_iv.png',
    'img/gold_iii.png',
    'img/gold_ii.png',
    'img/gold_i.png',
    'img/platinum_v.png',
    'img/platinum_iv.png',
    'img/platinum_iii.png',
    'img/platinum_ii.png',
    'img/platinum_i.png',
    'img/diamond_v.png',
    'img/diamond_iv.png',
    'img/diamond_iii.png',
    'img/diamond_ii.png',
    'img/diamond_i.png',
    'img/master.png',
    'img/challenger.png'
  ]);
</script>

<script>
  $(document).ready(function(){
    $("input[name='demo3']").TouchSpin({
      min: 1,
      max: 9,
      step: 1
    });
  });
</script>
<script>
  function winCalculate(wins) {
    var division_value = $('select[id=current_division_win]').val();
    var division_text = $("#current_division_win option:selected").html();
    cost_eur.innerHTML = "€"+((wins * 16) / division_value).toFixed(2);
    cost_usd.innerHTML = "$"+(((wins * 16) / division_value) * 1.13 ).toFixed(2);
    amount_of_wins.innerHTML = wins;
    product_type.innerHTML = "<strong class='bg-info'>Boost type:</strong> Win boost";
    product1.innerHTML = "<strong class='bg-info'>Current rank</strong> " + division_text;
    product2.innerHTML = "<strong class='bg-info'>wins</strong> " + wins  ;

    document.getElementById('total_cost_eur').value = (((wins * 16) / division_value) * 1.13 ).toFixed(2);
    document.getElementById('product_name').value = "Win Boost: " + division_text + " > " + wins + " wins";
  }

/*
  function budCalculate(budget_amount) {
    var budget = 0;
    console.log(typeof budget_amount);
    budget = parseFloat(budget_amount);
    cost_eur.innerHTML = "€"+(budget).toFixed(2);
    cost_usd.innerHTML = "$"+(budget * 1.13 ).toFixed(2);
    product_type.innerHTML = "<strong class='bg-info'>Boost type:</strong> Budget boost";
    product1.innerHTML = "<strong class='bg-info'>Chosen budget:</strong> €" + (budget).toFixed(2);
    product2.innerHTML = "<strong class='bg-info'>Chosen budget:</strong> $" + (budget * 1.13).toFixed(2);
    return budget;
  }
*/

  function divCalculate(desired_division) {
    var current_division = $('select[id=current_division_div]').val();
    var current_division_text = $("#current_division_div option:selected").text();
    var desired_division_text = $("#desired_division_div option:selected").text();
    cost_eur.innerHTML = "€" + calculateTotalAmt(desired_division,'euro');
    cost_usd.innerHTML = "$" + calculateTotalAmt(desired_division,'usd');
    product_type.innerHTML = "<strong class='bg-info'>Boost type:</strong> Division boost";
    product1.innerHTML = "<strong class='bg-info'>Current division</strong> " + current_division_text;
    product2.innerHTML = "<strong class='bg-info'>Desired division</strong> " + desired_division_text;

    document.getElementById('total_cost_eur').value = calculateTotalAmt(desired_division,'usd');
    document.getElementById('product_name').value = "Division Boost: " + current_division_text + " > " + desired_division_text;

  }

  function calculateTotalAmt(desired_division, currencyType) {
    var totalAmt;
    var current_division = $('select[id=current_division_div]').val();
    if(currencyType == 'euro') {
      totalAmt = (desired_division - current_division).toFixed(2);
    } else if(currencyType == 'usd') {
      totalAmt = ((desired_division - current_division) * 1.13 ).toFixed(2);
    }
    if(totalAmt != undefined && totalAmt < 10)
      totalAmt = 0;
    return totalAmt;
  }

</script>

<script src="/js/lib/select2/select2.full.min.js"></script>

