<%= provide(:title, 'F.A.Q.') %>
<div class="container-fluid">
  <section class="box-typical faq-page">


    <section class="faq-page-cats">
      <div class="row">
        <div class="col-md-4">
          <div class="faq-page-cat">
            <div class="faq-page-cat-icon"><img src="img/faq-1.png" alt=""></div>
            <div class="faq-page-cat-title">
              Getting Started?
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="faq-page-cat">
            <div class="faq-page-cat-icon"><img src="img/faq-2.png" alt=""></div>
            <div class="faq-page-cat-title">
              Having a problem?
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="faq-page-cat">
            <div class="faq-page-cat-icon"><img src="img/faq-3.png" alt=""></div>
            <div class="faq-page-cat-title">
              Just curious?
            </div>
          </div>
        </div>
      </div><!--.row-->
    </section><!--.faq-page-cats-->

    <section class="faq-page-questions">
      <h2>Common questions</h2>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
             <%= link_to faqs_services_path do %>
            <header class="faq-page-quest-title">
              ABOUT OUR SERVICES
            </header>
             <% end %>

            <ul>
              <li><b><em>- Can I buy a boost only for promotion games?</em></b></li>
              <li><b><em>- What servers do you function on?</em></b></li>
              <li><b><em>- You don’t operate on my server, when can I expect this to change?</em></b></li>
              <li><b><em>- I’ve made a mistake in my order and picked the wrong server, what shall I do?</em></b></li>
              <li><b><em>- I get less than 12 league points each game, can I apply for league division boosting?</em></b></li>
              <li><b><em>- I would like to become a booster, what can I do?</em></b></li>
              <li><b><em>- I have a question which I can’t find in the FAQ, how can I ask it?</em></b></li>
            </ul>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= link_to faqs_contact_path do %>
            <header class="faq-page-quest-title">
              CONTACT WITH THE BOOSTER
            </header>
            <% end %>
            <ul>
              <li><b><em>- Can I contact the booster outside the game?</em></b></li>
              <li><b><em>- Can I spectate the booster and chat with him?</em></b></li>
              <li><b><em>- Can I play duo with my booster?</em></b></li>
            </ul>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= link_to faqs_process_path do %>
            <header class="faq-page-quest-title">
              BOOSTING PROCESS
            </header>
            <% end %>
            <ul>
              <li><b><em>- How many boosters will play on my account?</em></b></li>
              <li><b><em>- Can the boosters play with the champion or role that I want?</em></b></li>
              <li><b><em>- Can I watch the games performed during the League boosting service?</em></b></li>
              <li><b><em>- My booster isn’t doing as well as I would like him to, can I get different one?</em></b></li>
              <li><b><em>- No games have been played on my account for hours now, why does this happen?</em></b></li>
              <li><b><em>- How long will you work on my account to get my desired division?</em></b></li>
              <li><b><em>- Can I play on my account while you’re working on it?</em></b></li>
              <li><b><em>- What are gifts and why are they given to the boosters?</em></b></li>
              <li><b><em>- I paid for 1 division, but the booster jumped one extra divison, do I have to pay extra?</em></b></li>
            </ul>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= link_to faqs_safety_path do %>
            <header class="faq-page-quest-title">
              SAFETY AND SECURITY
            </header>
            <% end %>
            <ul>
              <li><b><em>- I have completed a payment, what happens next?</em></b></li>
              <li><b><em>- I Paid for the League boosting service, but the league/division differs on my aacount from the league/division that I mentioned in the order, what now?</em></b></li>
              <li><b><em>- Your prices are in Euros, can I pay with a different currency?</em></b></li>
              <li><b><em>- I don’t have a paypal account, can I use a different payment method?</em></b></li>
              <li><b><em>- I paid for promotion from the fifth to fourth division, but the booster jumped to division three, do I have to pay extra?</em></b></li>
            </ul>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= link_to faqs_payment_path do %>
            <header class="faq-page-quest-title">
              PAYMENT
            </header>
            <% end %>
              <ul>
                <li><b><em>- What makes sure that my account won’t get stolen using your league boosting service?</em></b></li>
                <li><b><em>- When using your league boosting service, do boosters have access to my IP and RP?</em></b></li>
                <li><b><em>- Can my account get banned by using your League boosting service?</em></b></li>
                <li><b><em>- A booster who played on my League account got reported and I got banned, what can I do about this?</em></b></li>
              </ul>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= link_to faqs_boost_path do %>
            <header class="faq-page-quest-title">
              ABOUT Elo-Boost i/o
            </header>
            <% end %>
            <ul>
              <li><b><em>- How does this League of Legends boosting service work?</em></b></li>
              <li><b><em>- What division and tier are your League of Legends boosters?</em></b></li>
              <li><b><em>- How can I trust ELO-BOOST I/O?</em></b></li>
            </ul>
          </article>
        </div>
      </div>
    </section><!--.faq-page-questions-->
  </section><!--.faq-page-->
</div><!--.container-fluid-->