<%= provide(:title, 'Welcome') %>

<div class="row ">
  <div class="col-xl-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to elo_boost_path do %>
        <article class="statistic-box rengar">
          <div>
            <div class="number">Division boosting</div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to  elo_boost_path  do %>
        <article class="statistic-box kennen">
          <div>
            <div class="number">Win boosting</div></div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to  elo_boost_path  do %>
        <article class="statistic-box ezreal">
          <div>
            <div class="number">Budget boosting</div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to faqs_path do %>
        <article class="statistic-box shaco">
          <div>
            <div class="number">F.A.Q.</div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-12">
        <%= link_to new_user_session_path do %>
        <article class="statistic-box riven">
          <div>
            <div class="number">VIP AREA</div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.col-->
</div><!--.row-->