<%= provide(:title, 'Welcome') %>
<div class="row ">
  <div class="col-xl-8 col-md-offset-2">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to elo_boost_path do %>
        <article class="statistic-box rengar">
          <div>
            <div class="number"><kbd>Division boosting</kbd></div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to  elo_boost_path  do %>
        <article class="statistic-box kennen">
          <div>
            <div class="number"><kbd>Win boosting</kbd></div></div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to  boosters_path  do %>
        <article class="statistic-box ezreal">
          <div>
            <div class="number"><kbd>Boosters</kbd></div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-6">
        <%= link_to faqs_path do %>
        <article class="statistic-box shaco">
          <div>
            <div class="number"><kbd>F.A.Q.</kbd></div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
      <div class="col-sm-12">
        <%= link_to contacts_path do %>
        <article class="statistic-box riven">
          <div>
            <div class="number"><kbd>Contact</kbd></div>
          </div>
        </article>
        <% end %>
      </div><!--.col-->
    </div><!--.row-->
  </div><!--.col-->
</div><!--.row-->
