<%= provide(:title, 'League of Legends Boosting & Coaching') %>
<div class="container-fluid">
  <section class="box-typical faq-page">
    <section class="faq-page-questions">
      <h1>League of Legends</h1>
      <div class="row">
        <div class="col-md-12">
          <article class="faq-page-quest">
                <p>
                   Currently our main focus is to get people to higher ranks either through boosting or coaching in LoL.
                   Elo-boost IO has done many boosts and keeps growing at a rapid rate.
                   By keeping the desires of the players at the top of priorities, we keep gaining other peoples’ trust.
                </p>
          </article>
        </div>
      </div><hr/>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
            <h2 class="faq-page-quest-title">
              League of Legends Boosting
            </h2>
            <p>
              Boosting is, and will remain our primary task. We do this not only to get you the fastest results,
              but also because we know that sometimes small objectives, like earning that border or end-of-season reward,
              can be hard with feeders and AFK’ers in your team.
            </p>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= image_tag('/img/masterboost.png', width: '70%', alt: 'League of Legends Boosting') %>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
              <%= image_tag('/img/victory.png', width: '70%', alt: 'League of Legends Coaching') %>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <h2 class="faq-page-quest-title">
              League of Legends Coaching
            </h2>
            <p>
              Due to requests by players we have decided to also offer League of Legends coaching recently.
              This service is only available on request and right now not many of our boosters are participating.
              We are working hard to get as many coaches available to get you the best League experience.
              Because in the end it is all about getting you on a higher position.
            </p>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <article class="faq-page-quest">
            <h2 class="faq-page-quest-title">
              Tier distribution
            </h2>
            <p>
              The distribution of divisions in League of Legends is quite interesting.
              Only 2% of all players are Diamond, Master or Challenger tier.
              Our active boosters are always proven Diamond 1, Master or Challenger.
              This means that they have been tracked for a certain time and several games have been spectated
              before their application is accepted.
              This means that only the best 1% of all League of Legends players do our boosting and coaching.
              Your order to any tier is in the right hands at Elo boost IO.
            </p>
          </article>
        </div>
        <div class="col-md-6">
          <article class="faq-page-quest">
            <%= image_tag('/img/tierdistribution.png', width: '70%', alt: 'League of Legends tier distribution') %>
          </article>
        </div>
      </div><br/>
      <%= link_to "Get boosted!", elo_boost_path , class: 'btn center-block' %>
    </section><!--.faq-page-questions-->
  </section><!--.faq-page-->
</div><!--.container-fluid-->