<% provide(:title, "Sign in") %>
  <div class="sign-box">
    <header class="sign-title">Sign In</header>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <% if devise_error_messages!.present? %>
            <div class="alert alert-warning alert-icon alert-close alert-dismissable fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <i class="font-icon font-icon-warning"></i>
              <%= devise_error_messages! %>
            </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :email, class: 'float-left' %>
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :password, class: 'float-left' %><%= link_to 'Forgot your password?', new_user_password_path, class: 'float-right reset' %>
          <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field form-group">
              <div class="checkbox float-left">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Sign in", class: 'btn btn-rounded', url: user_session_path %>
        </div>

        <p class="sign-note">New to our website? <%= link_to "Sign Up", new_user_registration_path %></p>
        <p class="sign-note small">Didn't receive confirmation instructions? <%= link_to 'Resend', new_confirmation_path(resource_name) %></p>
    <% end %>
  </div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

